<% @title = "Code Poems For Nic" %>

$ <code id="code"></code>
<div id="list">
  <% @poems.each do |poem| %>
    <div><a href="/poems/<%= poem %>"><%= poem %></a></div>
  <% end %>
</div>

<script>
  $(function() {
      $("#code").typed({
          strings: ["^1000ls poems"],
          callback: function() {
            $("#code").append($("#list").html());
          },
          typeSpeed: 0
      });
  });
</script>
